html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.top-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.search-section {
  width: auto;
  max-width: 600px;
  margin-bottom: 20px;
  border: 2px solid #715e5e;
  border-radius: 8px;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-section input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #22a6b3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #1e909b;
}

.search-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.hint {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  color: red;
  font-size: 14px;
  white-space: nowrap;
}

.search-section + button {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.search-section + button:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}



.details-section {
  width: 30%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.no-results {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.result-item {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.result-item:hover {
  transform: scale(1.02);
}

.result-item img {
  max-width: 100%;
  border-radius: 8px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  cursor: pointer;
}

.pagination span {
  font-size: 1.2em;
}

.character-details img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.character-details h2 {
  margin-top: 0;
}

.character-details p {
  margin: 5px 0;
  font-size: 16px;
}

.character-details ul {
  padding: 0;
  list-style: none;
}

.character-details ul li {
  margin: 5px 0;
}

.character-details button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #22a6b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.character-details button:hover {
  background-color: #1e909b;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results-section {
  flex: 1;
  max-width: 100%;
  margin-right: 20px;
}

.split-view .results-section {
  width: 50%;
}

.details-section:empty {
  display: none;
}
